[user]
    email = hktkzyx@yeah.net
    name = hktkzyx
[init]
    defaultBranch = main
[gitflow "prefix"]
    versiontag = v
[gitflow "branch"]
	master = main
[include]
    path = gpg.gitconfig
    path = editor_vim.gitconfig
    path = editor_vscode.gitconfig
