[user]
    email = __GIT_USER_EMAIL__
    name = __GIT_USER_NAME__
    signingkey = __GIT_SIGNING_KEY__
[core]
    editor = vim
[init]
    defaultBranch = main
[gitflow "prefix"]
    versiontag = v
[gitflow "branch"]
    master = main
[pull]
    rebase = true
[merge]
    ff = false
